[Unit]
Description=WXT Meteo server
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/root/
ExecStart=/usr/local/bin/gunicorn --config=python:meteo.gunicorn_config meteo.server:app
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target