[Unit]
Description=WXT Meteo logger
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/root/
ExecStart=/usr/local/bin/logger.py
StandardOutput=null
StandardError=null

WatchdogSec=120s
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
# StartLimitAction=reboot-force

[Install]
WantedBy=multi-user.target