[Unit]
Description=WXT Meteo logger
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/root/
ExecStart=/usr/local/bin/logger.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target